/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  background: #8a4e01;
  padding: 40px 0 20px 0;
  color: #fff;
}

.counts .counters span {
  font-size: 1.7em;
  display: block;
  font-weight: 700; 
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-size: .9em;
  font-weight: 500;
}